<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <header>
    <div id="nav-logo">

    </div>
    <div id="nav-search-bar">

    </div>
    <div id="nav-menu">
      <a href="/"></a>
      <a href="/search"></a>
    </div>
  </header>
  <div id="site-content">
    {{{body}}}
  </div>
  <script src="/javascripts/layout.js"></script>
</body>

</html>