<form id="search-bar">
    <div>
        <input spellcheck="true" autocorrect="on" autocomplete="on" name="query" role="combobox" placeholder="Search">
    </div>
</form>
<script src="/javascripts/listings.js"></script>