* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body,
html {
  width: 100%;
  height: 100%; }

body {
  line-height: 1.4;
  color: #484848;
  font-family: "Lato", "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px; }

/**
* Text Styles
*/
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif; }

a {
  transition: all .4s ease-in-out; }
  a:link, a:visited {
    text-decoration: none; }

label {
  display: block;
  font-size: 14px;
  margin-bottom: 3px;
  color: #777; }

input {
  width: 100%;
  margin-bottom: 7px;
  border: 1px solid #eee;
  padding: 12px;
  outline: none; }

button {
  cursor: pointer;
  padding: 12px 2rem;
  background: #7C5CBF;
  border: none;
  color: #fff;
  font-size: 16px; }
  button:hover {
    background: #6b47b8; }
  button:disabled {
    cursor: default;
    background: #7c5cbf94; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.btn-red {
  background-color: #d60000; }
  .btn-red:hover {
    background-color: #ca1818; }

ul {
  list-style-type: none; }

.hide {
  display: none;
  opacity: 0; }

#form {
  margin: 30px auto;
  width: 380px; }

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%; }

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px; }

#form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%; }

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background; }

#listings {
  display: flex;
  flex-wrap: wrap; }

#listing {
  flex-basis: 25%;
  padding: 1rem; }
  #listing img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px; }
  #listing h4 {
    color: #757575;
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 600; }
  #listing h3 {
    font-size: 1.15rem;
    font-weight: 600; }
  #listing span {
    font-weight: bold; }

#application {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; }
  #application header {
    padding: 0;
    z-index: 2;
    background-color: white; }
  #application #nav {
    height: 81px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #ebebeb 1px solid; }
    #application #nav #nav-logo {
      display: block;
      width: 100px;
      height: 100%;
      background-color: #ff5a60; }
    #application #nav #nav-search-bar {
      width: 60%;
      margin: 0;
      padding: 0 1rem; }
      #application #nav #nav-search-bar input {
        font-size: 1.15rem;
        font-weight: 600; }
    #application #nav #nav-menu {
      text-align: right;
      padding-right: 1rem; }
      #application #nav #nav-menu a {
        padding: 0 1rem; }
  #application #site-content {
    padding-top: 91px; }

@media (max-width: 975px) {
  #listing {
    flex-basis: 33%; } }

@media (max-width: 468px) {
  #listing {
    flex-basis: 50%; } }

/*# sourceMappingURL=style.css.map */